html {
	height: auto;
}

body {
	padding: 60px 20px;
}

.form-signin {
	max-width: 320px;
	margin: 0 auto 20px;
}

.input-append.input-block-level,
.input-prepend.input-block-level {
	display: table;
}

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
	display: table-cell;
	width: 1%;
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
	box-sizing: border-box;
	display: table;
	min-height: inherit;
	width: 100%;
}

.input-append.input-block-level > input {
	border-right: 0;
}

.input-prepend.input-block-level > input {
	border-left: 0;
}

.forget {
	display: block;
	margin-top: 10px;
	text-align: center;
}