{% extends common_bundle.template %}

{% block body %}
	<div class="widget row-fluid">
		<div class="navbar">
			<div class="navbar-inner">
				<h6>{{ title }}</h6>
                        </div>
		</div>
		
		<div class="well">
		    <form class="form-horizontal" action="{{ path(routeName['CREATE']) }}" method="post" {{ form_enctype(form) }}>
		        {{ form_widget(form) }}
		        
		        <div class="control-group">
		        	<div class="controls">
		        		<button type="submit" class="btn btn-success">Ajouter</button>
		        	</div>
		        </div>
		    </form>
		</div>
    </div>
{% endblock %}
