{% extends base_template() %}

{% block body %}

    <div class="widget">
        <div class="widget-header transparent">
            <h2><strong>{{ title }}</strong></h2>
            <div class="additional-btn">
{#                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>#}
                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
{#                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>#}
            </div>
        </div>
        <div class="widget-content padding">
            <form class="form-horizontal" role="form" action="{{ path(routeName['EDIT'], {'id':entity.id}) }}" method="post" {{ form_enctype(edit_form) }}>
                {{ form_widget(edit_form) }}
                <div class="control-group">
                    <div class="controls  text-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
